/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight&family=Kumbh+Sans&family=Nunito:wght@400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight&family=Kumbh+Sans&family=Nunito:wght@400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Inter", sans-serif; */
  font-family: 'Kumbh Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #02273d;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hideMiddleSectionScrollbar::-webkit-scrollbar {
  display: none;
}

.heroSection {
  width: 100%;
  height: 100vh;
  background: url("/images/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
}
.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #212751,
    rgba(26, 124, 101, 0.5)
);
  mix-blend-mode: multiply;
  z-index: -1;
}

.loginPage {
  background: url("/images/doc4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.loginPage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #212751,
    rgba(26, 124, 101, 0.5)
);
  z-index: -1;
}

.profilePage {
  background: url("/images/doc4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  height: 24vh;
}
.profilePage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    #212751,
    rgba(26, 124, 101, 0.5)
);
  z-index: -1;
}

.loading-spin {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-spin div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loading-spin 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-spin div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loading-spin {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
