@import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight&family=Kumbh+Sans&family=Nunito:wght@400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #02273d;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hideMiddleSectionScrollbar::-webkit-scrollbar {
  display: none;
}

.heroSection {
  width: 100%;
  height: 100vh;
  background: url("/images/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
}
.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #212751,
    rgba(26, 124, 101, 0.5)
);
  /* background: linear-gradient(
    to right,
    rgb(1, 34, 27),
    rgba(26, 124, 101, 0.5)
); */
  mix-blend-mode: multiply;
  z-index: -1;
}

.loginPage {
  background: url("/images/doc4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  height: 100vh;
}
.loginPage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #212751,
    rgba(26, 124, 101, 0.5)
);



  /* background: linear-gradient(
    to right,
    rgb(1, 34, 27),
    rgba(26, 124, 101, 0.5)
); */
  /* background-color: black; */
  /* opacity: 0.5; */
  z-index: -1;
}
