<!-- your_app/templates/your_app/invoice_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ invoice.invoice_number }} - Invoice</title>
</head>
<body>
    <div>Heading Goes Here</div>
    <h1>Invoice Number {{ invoice.invoice_number }} </h1>
    <p>Date: {{ invoice.invoice_date }}</p>
    <p>Amount: {{ invoice.invoice_amount }}</p>
    <p>Description: {{ invoice.invoice_description }}</p>

    <!-- Displaying invoice items -->
    <h2>Invoice Items</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Service</th>
                <th>Price</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for item in invoice.invoiceitem_set.all %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.service.name }}</td>
                    <td>{{ item.item_price }}</td>
                    <td>{{ item.item_created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>





<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ invoice.invoice_number }} - Invoice</title>
</head>
<body>
    <div>Heading Goes Here</div>
    <h1>Invoice Number {{ invoice.invoice_number }} </h1>
  <p>Date: {{ invoice.invoice_date }}</p>
    <p>Amount: {{ invoice.invoice_amount }}</p>
    <p>Description: {{ invoice.invoice_description }}</p>


    <ul>
        {% for item in invoice.invoiceitem_set.all %}
            <li>{{ item.item_name }} - {{ item.item_price }}</li>
        {% endfor %}
    </ul>
</body>
</html>-->
